# ePython 3 basic working environment
# Used by make_env.sh

# development utilities
black>=24.3.0
flake8==7.0.0
Pint>=0.23
isort>=5.13.2
mypy==1.8.0
refurb==1.13.0
pytest==7.3.1


matplotlib>=3.8.3
matplotlib-scalebar>=0.8.1
nose==1.3.7
numpy>=1.26

resampy==0.4.2
scipy>=1.13.0
# scikits.audiolab==0.11.0  

pyqt6
pyqt6-sip
pyqtgraph

seaborn>=0.13.2

